#main-table {
	display: none;
}

#main-table td {
	border: 1px solid black;
	font: 14pt sans-serif;
}

#stats {
	width: 250px;
	height: 800px;
	text-align: left;
	vertical-align: top;
}

#animation {
	width: 400px;
	height: 800px;
	text-align: center;
	vertical-align: middle;
}

#control-panel {
	width: 650px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

#stats-table td {
	border-width: 0px;
}

#pending {
	width: 100%;
	height: 30%;
	overflow: auto;
}

#pending p {
  font: 12pt sans-serif; 
}

#passengers {
	width: 100%;
	height: 30%;
	overflow: auto;
}

#passengers p {
  font: 12pt sans-serif; 
}

#delivered {
	width: 100%;
	height: 30%;
	overflow: auto;
}

#delivered p {
  font: 12pt sans-serif; 
}
